{% extends 'base.html' %} {% block title %} Burgh Rentals {% endblock %} {%
block body %}

<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Burgh Rentals</a>
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/rentalproperty">Rental Property</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/rentalUnit">Rental Unit</a>
          </li>
         <li class="nav-item">
            <a class="nav-link" href="/residents">Manage Residents</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/charges">Manage Charges</a>
          </li>          
          <li class="nav-item">
            <a class="nav-link" href="/rentalPropertyAssets">Manage Assets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/payments">Manage Payments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/messages">Messages</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="jumbotron p-3">
  <div class="well text-center">
    <h1>Welcome to Burgh Rentals!</h1>
  </div>
</div>

{% endblock %}